In [1]:
import os,sys
import numpy as np
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
import progressbar
from pylab import *

In [2]:
df_resized = pd.read_csv('2trainLabels_cropped')
df_resized.set_index(['image','level'],inplace=True)
df_resized.head()

                Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1
image    level
13_left  0.0             2           2.0             2.0
22_left  0.0            16          16.0            16.0
31_right 0.0            25          25.0            25.0
33_right 0.0            27          27.0            27.0
41_left  0.0            32          32.0            32.0

In [3]:
len(df_resized)

14108

In [4]:
def get_images_vectors():
    X_list = []
    Y_list = []
    k = 0
    with progressbar.ProgressBar(max_value=len(df_resized)) as bar:
        for i,j in df_resized.index:
            imagen = Image.open("resized_train/"+i+".jpeg")
            rzs= imagen.resize((250,250))
            arr_rzs=array(rzs.convert('L'))
            arr_res=arr_rzs.reshape(62500)
            X_list.append(arr_res)
            Y_list.append(j)
            k += 1
            bar.update(k)
        return np.array(X_list),np.array(Y_list)

In [5]:
X,Y= get_images_vectors()

100% (14108 of 14108) |##################| Elapsed Time: 0:05:52 Time:  0:05:52

In [6]:
print(X.shape,Y.shape)

(14108, 62500) (14108,)

In [7]:
df_X = pd.DataFrame(X)

In [8]:
df_Y = pd.DataFrame(Y)

In [9]:
df_X.head()

,0,1,2,3,4,5,6,7,8,9,...,62490,62491,62492,62493,62494,62495,62496,62497,62498,62499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
lista_indices=[]
for i in range (62500):
    np_arr = np.array(df_X[i])
    if int(np.mean(np_arr)) <= 50:
        lista_indices.append(i)

In [11]:
len(lista_indices)

12787

In [12]:
df_X.drop(lista_indices,axis=1,inplace= True)

In [13]:
df_X.head()

,77,78,79,80,81,82,83,84,85,86,...,62137,62138,62139,62370,62371,62372,62373,62374,62375,62376
0,0,0,0,0,0,0,0,1,1,0,...,43,46,46,43,42,45,44,46,47,40
1,108,108,105,105,106,106,103,103,101,101,...,104,104,106,119,116,118,114,115,117,116
2,0,0,0,0,0,0,0,0,0,1,...,2,2,2,2,2,2,2,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,1,2,1,1,1,0,2,3,0,1
4,144,143,153,156,150,151,142,140,137,136,...,163,167,167,140,137,138,144,155,155,159

df_X.to_json("features_X.json")

df_Y.to_json("labels_Y.json")

In [14]:
X_prueba = np.array(df_X)

In [15]:
X_prueba[:7000,:].shape

(7000, 49713)

In [16]:
import pylab as pl
from sklearn.decomposition import PCA

In [17]:
n_components = 150

In [18]:
print("Extracting the top %d components from %d images" %(n_components, X_prueba[:9000,:].shape[0]))
pca = PCA(n_components=n_components,svd_solver='randomized',whiten=True)

%time pca.fit(X_prueba[:9000,:])

Extracting the top 150 components from 7000 images
Wall time: 18.8 s

PCA(copy=True, iterated_power='auto', n_components=150, random_state=None,
    svd_solver='randomized', tol=0.0, whiten=True)

In [22]:
X_pca_1 = pca.transform(X_prueba)

In [25]:
np.savetxt('X_features',X_pca_1,delimiter=',')

In [26]:
np.savetxt('Y_labels',Y,delimiter=',')

In [27]:
X_pca_1.shape

(14108, 150)

In [28]:
Y.shape

(14108,)